DataProcessing/secrets.py
DataProcessing/Discussions
DataProcessing/Calculus Discussions
DataProcessing/temp
DataProcessing/temp-legacy
DataProcessing/logs
DataProcessing/source.py
GUI/config
temp
TODO.txt

*.pyc
*.idea
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
