Data-Processing/secrets.py
Data-Processing/Discussions
Data-Processing/Calculus Discussions
Data-Processing/temp
Data-Processing/logs
Model-Training/tutorial.py

*.pyc
*.idea
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*