{% extends 'base.html' %}
{% block title %}<title>Saved Data</title>{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/saved_data.css' %}">
{% endblock %}
{% block body %}
    <script type="text/javascript">
        function deleteId(idToDelete) {
            console.log(idToDelete);
        }
    </script>
    {% if load %}
        {% for data in datasets %}
        <div class="dataset">
            <img id="{{ data.dataset.id }}" class="delete-button" src="{% static 'images/delete_button.png' %}" onclick="deleteId(this.id);">
            <p> {{ data.dataset.data }} </p>
            <p> {{ data.dataset.date_created| date:'Y-m-d H:i'  }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No data detected!</p>
    {% endif %}
{% endblock %}