/* Get rid of inner text decoration */
.generic-link {
    text-decoration: none;
}

/* Get a nice looking bounding box and display it in-line */
.generic {
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    display: inline-grid;
    margin: 10px;
    background-color: rgb(57, 75, 88);
}

.generic:hover {
    opacity: .5;
}

/* Center text and color it */
.generic p {
    color: white;
    position: relative;
    font-size: 1.5em;
}