.nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    opacity: .5;
}

.large-text {
    font-size: 2em;
}

#navigation-section {
    padding-top: 0;
}

#logo-section {
    padding-bottom: 0;
    padding-top: 0;
}

#title-section {
    padding-bottom: 0;
}

.clickable:hover {
    opacity: .5;
}

.title-link {
    text-decoration: none;
    color: #4a4a4a;
}