.nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    opacity: .5;
}

.large-text {
    font-size: 1.2em;
}

.clickable:hover {
    opacity: .5;
}

.title-link {
    text-decoration: none;
    color: #4a4a4a;
}

.has-right-border {
    border-right: solid whitesmoke 2px;
}

.overlayed {
    z-index: 100;
}

.no-color {
    background-color: rgba(0, 0, 0, .4);
}

.important-container {
    border: 1px gray solid;
    border-radius: 5px;
}

.animated-first {
    display: none;
}

.setup-wizard-item {
    display: none;
}

.setup-wizard-item.is-default {
    display: block;
}

.setup-wizard-trigger {
    color: white;
}

.current-setup-item {
    font-size: 1em;
    font-weight: bold;
}

.no-button-styling {
    border: none;
    background-color: transparent;
}

.help.is-danger {
    display: none;
}

#animated-second {
    display: none;
}

#animated-third {
    display: none;
}

#canvas-modal-content {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    /*background-color: white;*/
}

#navigation-section {
    padding-top: 0;
}

#logo-section {
    padding-bottom: 0;
    padding-top: 0;
}

#title-section {
    padding-bottom: 0;
}

#placeholder {
    display: none;
}

#terms {
    overflow-y: scroll;
    max-height: 200px;
    color: white;
    /*background-color: rgba(255, 255, 255);*/
}

#account-creation {
    color: white
    /*background-color: rgba(255, 255, 255, .5);*/
}

.label {
    color: white;
}

.checkbox {
    color: white;
}

#account-settings {
    /*background-color: rgba(255, 255, 255, .5);*/
}