.nav-link {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3em;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    opacity: .5;
}

.large-text {
    font-size: 1.2em;
}

#canvas-modal-content {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    /*background-color: white;*/
}

#navigation-section {
    padding-top: 0;
}

#logo-section {
    padding-bottom: 0;
    padding-top: 0;
}

#title-section {
    padding-bottom: 0;
}

.clickable:hover {
    opacity: .5;
}

.title-link {
    text-decoration: none;
    color: #4a4a4a;
}

.has-right-border {
    border-right: solid whitesmoke 2px;
}

.overlayed {
    z-index: 100;
}

.no-color {
    background-color: transparent;
}

.important-container {
    border: 1px gray solid;
    border-radius: 5px;
}

.animated-first {
    display: none;
}

#animated-second {
    display: none;
}

#animated-third {
    display: none;
}