{% extends 'base.html' %}
{% block title %}<title>About</title>{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block body %}
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title-has-julius">WHAT WE DO</h1>
            <div class="columns">
                <div class="column">
                    <p class="description">
                        At launch, NARC is going to work on a somewhat simple autoencoder system. This
                        means that it’s going to take in testing data and separate the data into two groups: anomalous test takers
                        (people who don’t have testing data that looks like everyone else) and non- anomalous test takers (people who
                        seem to have nearly the same testing data). From there it will use a process called “KMeans” which will take the
                        anomalous test takers and try to separate them into two groups one being cheaters and the other being test
                        takers who don’t follow the norm (high performing or low performing students will typically fit into this
                        group). Finally, the group with the highest average page leaves will be identified as the cheater group.
                        Find more<a href="{%url 'mainpages:what-we-do'%}">information</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title-has-julius">Privacy Policy & Storing Data</h1>
            <div class="columns">
                <div class="column">
                    <p class="description">
                        N/A<a href="{%url 'mainpages:what-we-do'%}">information</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title-has-julius">HOW DO WE COMPLY WITH FERPA?</h1>
            <div class="columns">
                <div class="column">
                    <p class="description">
                        N/A<a href="{%url 'mainpages:what-we-do'%}">information</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <button onclick="window.location.replace('{% url 'mainpages:privacy-policy' %}');">Privacy Policy</button>
    <button onclick="window.location.replace('{% url 'mainpages:ferpa-act-compliance' %}');">How do we comply with FERPA?</button>
    {% block settings_menu %} {% endblock %}
    {% block settings_menu_scripts %}{% endblock %}
{% endblock %}