{% extends 'base.html' %}
{% block title %}<title>About</title>{% endblock %}
{% block body %}
    <button onclick="window.location.replace('{% url 'mainpages:what-we-do' %}');">What we do</button>
    <button onclick="window.location.replace('{% url 'mainpages:privacy-policy' %}');">Privacy Policy</button>
    <button onclick="window.location.replace('{% url 'mainpages:ferpa-act-compliance' %}');">How do we comply with FERPA?</button>
    {% block settings_menu %} {% endblock %}
    {% block settings_menu_scripts %}{% endblock %}
{% endblock %}