{% block collectors %}
<script type="text/javascript">
    function getAPIInfo() {
        // TODO: Add URL Prompt
        console.log("Getting user API Key");
        let token = window.prompt("Insert API Token Below!", "example: 1234567910");
        if (token) {
            console.log("Testing token");
            $.ajax({
                url: "{% url 'canvaswrapper:test-token' %}",
                method: "GET",
                dataType: "json",
                data: {"token": token},
                success: function (_) {
                    if (confirm('Would you like to allow NARC to save the datasets you run through the program?')) {
                        $.ajax({
                            url: "{% url 'canvaswrapper:allow-save' %}",
                            method: "GET",
                            success: function() {
                                window.location.replace("{% url 'mainpages:courses-view' %}");
                            },
                            // TODO: Error Case
                            error: function() {
                            }
                        });
                    }
                    else {
                        $.ajax({
                            url: "{% url 'canvaswrapper:deny-save' %}",
                            method: "GET",
                            success: function() {
                                window.location.replace("{% url 'mainpages:courses-view' %}")
                            },
                            // TODO: Error Case
                            error: function() {
                            }
                        });
                    }
                },
                error: function (_) {
                    alert("Token not valid! Please generate a new one!");
                }
            })
        }
        else {
            console.log("No token was provided, exiting!");
        }
    }
</script>
{% endblock %}