{% extends 'displayers.html' %}
{% block title %}<title>Course View</title>{% endblock %}
{% block css %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $.ajax({
            url: "{% url 'canvaswrapper:modules-get' %}",
            method: "GET",
            dataType: "json",
            data: {"course_id": {{ course_id }} },
            success: function(results) {
                loadGeneric(JSON.parse(results["success"]["data"]), "module")
            },
            error: function(results) {
                // TODO: Fail Case
                console.log("error occurred");
                console.log(results);
            },
         });

        function linkGen(moduleID) {
            return "{% url 'mainpages:module' 1234 5678%}".replace("1234", {{ course_id }}).replace("5678", moduleID);
        }
    </script>
    <div id="modules"></div>
{% endblock %}