{% extends 'displayers.html' %}
{% block title %}<title>Courses</title>{% endblock %}
{% block css %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}">
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $.ajax({
            url: "{% url 'canvaswrapper:courses-get' %}",
            method: 'GET',
            success: function(results) {
                console.log("Courses received!");
                loadGeneric(JSON.parse(results["success"]["data"].slice(2, -1)), "course");
            },
            error: function(results) {
                console.log(results);
            }
        });

        function linkGen(courseID) {
            return "{% url 'mainpages:course' 1234 %}".replace("1234", courseID);
        }
    </script>
    <div id="courses"></div>
{% endblock %}
