{% extends "base.html" %}
{% block title %}<title>NARC</title> {% endblock %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/canvasRQ.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block non_blur_body %}
    <div class="modal" id="canvas-url">
        <div class="modal-background no-color" id="canvas-modal-background"></div>
        <div class="modal-content" id="canvas-modal-content">
            <div class="container">
                <div class="columns is-centered is-vcentered">
                    <div class="column is-4 has-right-border has-text-right">
                        <button class="setup-wizard-trigger no-button-styling current-setup-item" id="terms-and-conditions-trigger">Terms and Conditions</button>
                        <br>

                        <button class="setup-wizard-trigger no-button-styling" id="account-creation-trigger">Account Creation</button>
                        <br>

                        <button class="setup-wizard-trigger no-button-styling" id="other-information-trigger">Other Information</button>
                        <br>

                        <button class="setup-wizard-trigger no-button-styling" id="canvas-integration-trigger">Canvas Integration</button>

                    </div>
                    <div id="placeholder" class="column"></div>
                    <div class="setup-wizard-item is-default column" id="terms-and-conditions">
                        <!-- todo: add terms and conditions -->
                        <div id="terms">
                            <p>
                                MIT License
                                <br><br>
                                Copyright (c) 2017-2019 Matthew Byrd
                                <br><br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy
                                of this software and associated documentation files (the "Software"), to deal
                                in the Software without restriction, including without limitation the rights
                                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                copies of the Software, and to permit persons to whom the Software is
                                furnished to do so, subject to the following conditions:
                                <br><br>
                                The above copyright notice and this permission notice shall be included in all
                                copies or substantial portions of the Software.
                                <br><br>
                                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                                SOFTWARE.
                            </p>
                        </div>
                        <div class="columns">
                            <div class="column is-1">
                                <button class="button has-white-text has-green-background" onclick="nextSetup(event);">Agree</button>
                            </div>
                            <div class="column is-1"></div>
                            <div class="column is-1">
                                <button class="button has-white-text has-green-background" onclick="nextSetup(event);">Decline</button>
                            </div>
                        </div>
                    </div>
                    <div class="setup-wizard-item column" id="account-creation">
                        <form class="form has-text-centered" onsubmit="return attemptAccountRegister();">
                            <div class=field">
                                <div class="control">
                                    <input class="input" placeholder="USERNAME" id="username-input">
                                </div>
                            </div>
                            <div class=field">
                                <div class="control">
                                    <input type="password" class="input" placeholder="PASSWORD" id="password-input">
                                </div>
                                <p class="help is-danger" id="password-warning">Passwords don't match</p>
                            </div>
                            <div class=field">
                                <div class="control">
                                    <input type="password" class="input" placeholder="CONFIRM PASSWORD" id="confirm-password-input">
                                </div>
                                <p class="help is-danger" id="confirm-password-warning">Passwords don't match</p>
                            </div>
                            <input
                                    class="has-green-background has-white-text button is-pulled-right"
                                    id="submit-profile-info"
                                    type="submit"
                                    value="Submit"
                            >
                        </form>
                    </div>
                    <div class="setup-wizard-item column" id="other-information">
                        <div class=field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox">
                                    Allow NARC to save de-identified datasets?
                                </label>
                            </div>
                            <div class="control">
                                <label class="label">
                                    Autoencoder iterations
                                    <input class="input" value="5000">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setup-wizard-item column" id="canvas-integration">
                        <form class="form has-text-centered" onsubmit="getAPIInfo();">
                            <div class="field">
                                <div class="control">
                                    <input id="canvas-url-input" placeholder="Canvas URL" class="input">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="has-green-background has-white-text button is-medium">Go</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% block settings_menu %} {% endblock %}
    {% block settings_menu_scripts %}{% endblock %}
    {% block home_button %}{% endblock %}
    {% block home_button_scripts %}{% endblock %}

    {% block extras %}
        <script type="text/javascript">
            setupItems = [
                {
                    "item": $("#terms-and-conditions"),
                    "can-click": true,
                },
                {
                    "item": $("#account-creation"),
                    "can-click": false,
                },
                {
                    "item": $("#other-information"),
                    "can-click": false,
                },
                {
                    "item": $("#canvas-integration"),
                    "can-click": false
                }
            ];
            var lastSetupItem = setupItems[0]["item"];
            function nextSetup(event) {
                let index = setupItems.findIndex((elt) => elt["item"].attr("id") === $(event.target).attr("id"));
                setupItems[index]["item"].hide();
                setupItems[index + 1]["item"].show();
                $("#" + setupItems[index]["item"].attr("id") + "-trigger").removeClass("current-setup-item");
                $("#" + setupItems[index + 1]["item"].attr("id") + "-trigger").addClass("current-setup-item");
                lastSetupItem = setupItems[index + 1]["item"];
            }

            function attemptAccountRegister() {
                let username = $("#username-input").val();
                let password = $("#password-input").val();

                $.ajax({
                    url: "{% url 'api:create-user' %}",
                    method: "post",
                    dataType: "json",
                    data: {
                        username: username,
                        password: password,
                        notification_token: "",
                        device: "pc"
                    },
                    success: function() {
                        nextSetup({target: $("#account-creation")});
                    },
                    error: function(e) {
                    }
                });
                return false;
            }
            $(document).ready(function() {
                let confirm_password = $("#confirm-password-input");
                let password = $("#password-input");

                function checkPassword() {
                    if (confirm_password.val() !== "" || password.val() !== "") {
                        if (confirm_password.val() !== password.val()) {
                            $("#confirm-password-warning").show();
                            $("#password-warning").show();
                            password.addClass("is-danger");
                            confirm_password.addClass("is-danger");
                            $("#submit-profile-info").attr("disabled", true);
                        } else {
                            $("#confirm-password-warning").hide();
                            $("#password-warning").hide();
                            password.removeClass("is-danger");
                            confirm_password.removeClass("is-danger");
                            $("#submit-profile-info").attr("disabled", false);
                        }
                    }
                }
                confirm_password.focusout(checkPassword);
                password.focusout(checkPassword);

                $(".setup-wizard-trigger").on("click", (e) => {
                    $(".current-setup-item").each((_, elt) => {
                        elt.className = elt.className.replace("current-setup-item", "");
                    });

                    e.target.className += " current-setup-item";
                    let targetID = e.target.id.replace("-trigger", "");
                    let target = $("#" + targetID);
                    if (lastSetupItem !== undefined) {
                        lastSetupItem.fadeOut(200);
                        setTimeout(function() {
                            $("#placeholder").hide();
                            target.slideDown(500, () => {
                            });
                        }, 190);
                    }
                    lastSetupItem = target;
                });


                $("#canvas-modal-background").on("click", (e) => {
                    e.target.parentNode.className = "modal";
                    document.getElementById("blurrable").style.filter = "none";
                });
                //
                // $(element).slideDown(1000);
                $(".animated-first").each((index, element) => {
                    $(element).slideDown(750);
                });
                $(".animated-left-to-right").each((index, element) => {
                    $(element).show("slide", {direction: "left"}, 1000);
                });
                setTimeout( () => {
                    $("#animated-second").slideDown(750, () => {
                        $(".animated").each((index, element) => {
                            $(element).show("slide", {direction: "left"}, 1000);
                        });
                    });
                }, 750);
            });

            function getAPIInfo() {
                let url = document.getElementById("canvas-url-input").value;
                if (url) {
                    $.ajax({
                        url: '{% url 'canvaswrapper:oauth-url' %}',
                        method: "GET",
                        dataType: 'json',
                        data: {"url": url},
                        success: function() {
                            if (window.confirm("Would you like to allow NARC to save data?")) {
                                window.localStorage.setItem("save_data", "true");  // Stores the setting information
                                window.localStorage.setItem("autoencoder-iterations", "5000");  // Sets default
                            }
                            else {
                                window.localStorage.setItem("save_data", "false");
                                window.localStorage.setItem("autoencoder-iterations", "5000");
                            }
                            window.location.replace("{% url 'mainpages:oauth-authorization' %}");
                        },
                        error: function(results) {
                            if (results.status === 404) { // This is where a dev key cannot be found
                                alert("This deployment of Canvas is not supported!");
                            }
                            if (results.status === 406) { // This is the case where the user is already logged in
                                window.location.replace("{% url 'mainpages:courses-view' %}");
                            }
                        }
                    });
                }
                else {
                    alert("You have to provide a URL!");
                }
            }

            /**
             * This function logs a user in via Canvas' OAuth2 implementation see Main/views.py for more information
             * @returns nothing
             */
            function showURLInput() {
                document.getElementById("blurrable").style.filter = "blur(15px)";
                document.getElementById("canvas-url").className += " is-active";
                document.getElementById("canvas-url-input").style.display = "none";
                let input = $("#canvas-url-input");
                input.show()
                input.select();
            }
        </script>
    {% endblock %}

    <section class="section" id="title-section">
        <div class="container">
            <div class="columns is-centered">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="columns is-multiline is-vcentered is-centered">
            <div class="column is-2 justify-right">
                <figure class="image">
                    <a href="javascript:showURLInput();"><img class="clickable" src="{% static 'images/narc.png' %}" alt="NARC-Logo"></a>
                </figure>
            </div>
            <div class="column has-text-centered justify-left is-5">
                <h1 class="title-has-julius animated-first">NARC</h1>
                <h4 class="subtitle-has-julius" id="animated-second">An open-source cheat detection system</h4>
            </div>
            <div class="column has-text-centered is-full large-text" id="">
                <button class="has-green-background has-white-text button is-medium has-julius" id="get-started-button" onclick="showURLInput()">
                    Try it out
                </button>
            </div>
        </div>
    </section>
    <section class="section">
        <hr class="is-small is-black"/>
        <div class="columns is-multiline justify-center is-vcentered">
            <div class="column is-half has-text-centered justify-right">
                <h1 class="title-has-julius">Secure</h1>
            </div>
            <div class="column has-text-centered is-half">
                <p class="large-text">NARC is developed from the ground up to ensure that data is secure and anonymous. NARC never saves
                    data without explicit permission and all code involving data-processing is public on <a href="https://www.github.com/byrdofafeather/NARC">github</a></p>
            </div>
        </div>
        <hr class=" is-small is-black"/>
        <div class="columns is-multiline justify-center is-vcentered">
            <div class="column is-half has-text-centered justify-right">
                <h1 class="title-has-julius">Iterative Improvement</h1>
            </div>
            <div class="column has-text-centered is-half">
                <p class="large-text">At launch NARC will use a simple auto-encoder method to separate anomalies. As more people donate their
                    data, NARC will continue to get better at classifying test data. Get the <a href="">details</a></p>
            </div>
        </div>
        <hr class="is-small is-black"/>
        <div class="columns is-multiline justify-center is-vcentered">
            <div class="column is-half has-text-centered justify-right">
                <h1 class="title-has-julius">Canvas Integration</h1>
            </div>
            <div class="column has-text-centered is-half">
                <p class="large-text">NARC integrates into the Canvas platform allowing for simple back-and-forth interactions
                    that powers NARC to provide in-depth analysis of testing results.</p>
            </div>
        </div>
    </section>
    {% if logged_in %}
        <p>
            It appears you have already logged in! If you want to login with a different token click the button below,
            otherwise, you can <a href="{% url 'mainpages:courses-view' %}">click me</a> to go to your homepage!</p>
    {% endif %}
{% endblock %}