{% extends 'base.html' %}
{% block title %} <title>Training</title> {% endblock %}
{% block css %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/model_training.css' %}">
{% endblock %}
{% block body %}
    <div id="neural-net">
    </div>

    <script type="text/javascript">
    // TODO: Come back (fabric.js)
        function buildLayer(nodeCount, id) {
            let layer = document.createElement("div");
            layer.id = id;
            layer.className = "layer";
            for (let i = 0; i < nodeCount; i++) {
                let currentNode = document.createElement("canvas");
                currentNode.width = 100;
                currentNode.height = 100;
                layer.appendChild(currentNode);
                let brush = currentNode.getContext("2d");
                let x = currentNode.width / 2;
                let y = currentNode.height / 2;
                let r = 45;
                brush.beginPath();
                brush.arc(x, y, r, 0, 2*Math.PI, false);
                brush.lineWidth = 3;
                brush.stroke();
            }

            document.getElementById("neural-net").appendChild(layer);
        }

        function drawConnections(fromDiv, toDiv) {
            let curDiv = document.getElementById("fromDiv");
            let otherDiv = document.getElementById("toDiv");
            let curCanvases = curDiv.getElementsByName("canvas");
            let otherCanvases = otherDiv.getElementsByName("canvas");
            let curCanvas = null;
            for (let i = 0; i < curCanvases.length; i++) {
                curCanvas =
            }
        }

        buildLayer(3, "input");
        buildLayer(5, "layer1");
        buildLayer(2, "layer2");
        buildLayer(1, "layer3");
        buildLayer(2, "layer4");
        buildLayer(5, "layer5");
        buildLayer(3, "output");
    </script>
{% endblock %}