{% extends 'displayers.html' %}
{% block title %}<title>Quiz View</title>{% endblock %}
{% block css %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $.ajax({
            "url": "{% url 'canvaswrapper:quiz-get-stats' %}",
            "method": "GET",
            "dataType": "json",
            "data": {"course_id": {{ course_id }}, "quiz_id": {{ quiz_id }}},
            success: function (results) {
                console.log(results);
                loadStats(results);
            },
            error: function(results) {
                // TODO: Fail Case
                console.log(results);
            }
        });

        function genericP(text, parent, id, idList) {
            let newGenericP = document.createElement("p");
            newGenericP.className = "generic-p";
            newGenericP.id = id;
            newGenericP.innerText = text;
            newGenericP.style.opacity = "0";
            parent.appendChild(newGenericP);
            idList.push(setInterval(function () {
                fadeIn(newGenericP, id, idList);
            }, 15));
            return newGenericP;
        }


        function loadStats(results) {
            results = JSON.parse(results["success"]["data"]);
            let idList = [];
            let statsDiv = document.getElementById("statistics");


            let stdDiv = document.createElement("div");
            stdDiv.id = "std-div";
            statsDiv.appendChild(stdDiv);
            let std = genericP(Math.round(results["std"] * 100), stdDiv, 0, idList);
            std.className = "number";
            let stdLabel = genericP("Standard Deviation", stdDiv, 1, idList);
            stdLabel.className = "text";

            let stdNoDiv = document.createElement("div");
            stdNoDiv.id = "std-no-div";
            statsDiv.appendChild(stdNoDiv);
            let noAboveStd = genericP(results["no_above_2_std"], stdNoDiv, 2, idList);
            noAboveStd.className = "number";
            let noAboveStdLabel = genericP("Student(s) above or at 2 standard deviations", stdNoDiv, 3, idList);
            noAboveStdLabel.className = "text";
            noAboveStdLabel.appendChild(document.createElement("br"));
            let twoAbove = document.createElement("p");
            twoAbove.innerText = "(" + Math.round(results["std"] * 200) + ")";
            noAboveStdLabel.appendChild(twoAbove);

            //TODO Indicate that more statistics are loading.
            getMoreStatistics();
        }

        function getMoreStatistics() {
            $.ajax({
                url: "{% url 'canvaswrapper:quiz-get-submissions'%}",
                method: "GET",
                dataType: "json",
                data: {"course_id": {{ course_id }}, "quiz_id": {{ quiz_id }}},
                success: function(results) {
                    console.log(results);
                    loadMoreStatistics(results["success"]["data"]);
                },
                error: function(results) {
                    // TODO: Fail Case
                    console.log(results);
                }
            });
        }

        function loadMoreStatistics(results) {
            // TODO: Clean up code with better div generation
            // In particular these variables are taking up a bunch of space I'm sure
            // It would be better not to store them in js memory but for now
            // I'm just going to keep working on loading the data into the page
            console.log(results);
            let idList = [];
            let statsDiv = document.getElementById("statistics");

            let totalPageLeavesDiv = document.createElement("div");
            totalPageLeavesDiv.id = "total-page-leaves";
            statsDiv.appendChild(totalPageLeavesDiv);

            let totalPageLeaveNo = genericP(results["page_leaves"], totalPageLeavesDiv, 0, idList);
            totalPageLeaveNo.className = "number";
            let totalPageLeave = genericP("Total Page Leave(s)", totalPageLeavesDiv, 1, idList);
            totalPageLeave.className = "text";

            let uniquePageLeavesDiv = document.createElement("div");
            uniquePageLeavesDiv.id = "total-page-leavers";
            statsDiv.appendChild(uniquePageLeavesDiv);

            let totalUniquePageLeaversNo = genericP(results["unique_page_leavers"], uniquePageLeavesDiv, 2, idList);
            totalUniquePageLeaversNo.className = "number";
            let totalPageLeavers = genericP("Student(s) left the page at least once during the test",
                uniquePageLeavesDiv, 3, idList);
            totalPageLeavers.className = "text text-last";
        }

    </script>

    <button>Check For Cheaters</button>
    <div id="title"></div>
    <div id="submissions"></div>
    <div id="statistics">
        <h1>Important Statistics</h1>
    </div>

{% endblock %}